/* Additional styles for the Blog Post */

/* Heading */

.blogPost h1,
.blogPost h2,
.blogPost h3,
.blogPost h4,
.blogPost h5,
.blogPost h6 {
  font-family: "MontserratVariable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  margin-top: 48px;
  margin-bottom: 24px;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

.blogPost h2,
.blogPost h3,
.blogPost h4,
.blogPost h5,
.blogPost h6 {
  font-weight: 700;
  color: #1a202c;
}

.blogPost h1 {
  font-weight: 900;
  font-size: 2.488rem;
  color: black;
}

/* Prose */

.blogPost p {
  line-height: 1.625;
  margin: 0 0 32px 0;
  padding: 0;
}

.blogPost ul,
.blogPost ol {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-bottom: 32px;
  list-style-position: outside;
  list-style-image: none;
}

.blogPost ul li {
  padding-left: 1em; /* Added to fix bullet points */
  position: relative;
}

.blogPost ul li::before {
  content: '•'; /* Unicode bullet point */
  position: absolute;
  left: 0; /* Adjust as needed */
}

.blogPost ol {
  counter-reset: item;
}

.blogPost ol li {
  counter-increment: item;
  padding-left: 2em; /* Adjust as needed */
  position: relative;
}

.blogPost ol li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0.75em; /* Adjust as needed */
}

.blogPost li > p {
  margin-bottom: calc(32px / 2);
}

.blogPost li *:last-child {
  margin-bottom: 0;
}

.blogPost li > ul {
  margin-left: 32px;
  margin-top: calc(32px / 2);
}

.blogPost blockquote {
  color: #4f5969;
  margin-left: calc(-1 * 24px);
  margin-right: 32px;
  padding: 0 0 0 44px; /* Adjusted to indent blockquote text */
  border-left: 4px solid #810213;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 32px;
}

.blogPost blockquote > :last-child {
  margin-bottom: 0;
}

.blogPost blockquote > ul,
.blogPost blockquote > ol {
  list-style-position: inside;
}

/* Link */

.blogPost a {
  color: #005b99;
}

.blogPost a:hover,
.blogPost a:focus {
  text-decoration: none;
}

.blogPost {
  margin: 1rem auto; /* Adjusted for smaller margin */
  max-width: 700px;
}

.blogPostHeader {
  margin-bottom: 1.75rem;
  text-align: center; /* Added for center alignment */
}

.backlink {
  color: #333;
  text-decoration: none;
  padding: 0.75rem;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.backlink:hover {
  background-color: #eee;
}

.title {
  margin-bottom: 0;
}

.date {
  color: #6d6d6d;
}

.blogPostSection {
  margin-left: 2rem;
  margin-right: 2rem; 
}

.blogPostNav {
  margin: 2rem;
}

.blogPostNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Tags */
.tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  background-color: #e0e0e0;
  border-radius: 2rem;
  font-size: 0.875rem;
  color: #333;
}
/* Navigation links */

.backlink {
  color: #333;
  text-decoration: none;
  padding: 0.75rem;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.backlink:hover {
  background-color: #eee;
}

/* Main blog post section */

.blogPostSection {
  margin-left: 2rem;
  margin-right: 2rem; 
}

/* Blog post navigation */

.blogPostNav {
  margin: 2rem;
}

.blogPostNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blogPostNav li:first-child {
  text-align: left;
}

.blogPostNav li:last-child {
  text-align: right;
}

/* Tags */

.tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  background-color: #e0e0e0;
  border-radius: 2rem;
  font-size: 0.875rem;
  color: #333;
}
